JFusion-external-plugin.bbprojectd/project.bbprojectdata
JFusion-external-plugin.bbprojectd/Wade.bbprojectsettings
JFusion-external-plugin.bbprojectd/Scratchpad.txt
JFusion-external-plugin.bbprojectd/Unix Worksheet.worksheet